* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none
}

nav,
footer,
header,
aside {
	display: block
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* *---*---*---*---* */


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: rgb(46, 45, 45);
	padding: 20px;
	text-align: center;
	display: flex;
}

.main {
	padding: 30px;
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: auto;
	background-color: #eefbf9;
}

.footer {
	background-color: rgb(46, 45, 45);
	padding: 15px;
	text-align: center;
}

.logo {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: white;
}

.name-table {
	background-color: #b3c0e1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
}

.show-hide {
	width: 25px;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
}

.show-hide:hover {
	background-color: #97abdd;
	border-radius: 100%;
}



.table {
	padding: 20px;
	text-align: center;
	width: 1200px;
	justify-self: center;
}

